body{
    font-weight: 400;
    font-family: "OpenSansRegular", Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    margin-left: 200px;
    margin-top: 50px;
}




nav{
    background-color: rgb(169, 169, 169,0.4);
    width: 50%;
    padding: 10px;
}

.paragraphe{
    width:70%;
}

#S3{
    width: 50%;
    background-color:rgb(210, 105, 30,0.3);
    padding: 10px;
    margin-top: 25px;
}

.blue{
    color: blue;
}
i{
    position: relative;
    
}