img{
   
    position: relative;
    height: 762px;
    width:100%;
    
    
}

body .main{
    font-weight: 400;
    font-family: "OpenSansRegular", Arial, Helvetica, sans-serif !important;
    font-size: 20px;
    line-height: 30px;
    padding: 5%;
    padding-left: 10%;
}

h2{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

h1{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

nav{
    background-color: rgb(169, 169, 169,0.4);
    width: 30%;
    padding: 10px;
    
}
article{
    padding: 6px;
}
article p{
    padding: 6px;
}
.paragraphe{
    width:60%;
}

#S3{
    width: 50%;
    background-color:rgb(210, 105, 30,0.3);
    padding: 10px;
    margin-top: 25px;
}

.blue{
    color: blue;
}
i{
    position: relative;
    
}
a{
    text-decoration: none !important;
}
a:visited{
    color: blue;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
a:hover{
    color: black;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: larger;
}
