
#img-header{
    position: relative;
   
    background-image: url(/images/Accueil.webp);
    background-size: cover;
    width: 100%;
    min-height: 200px;
    color: white;
    text-shadow: rgb(7, 63, 10) 5px 5px;
    object-fit: contain;
    overflow: auto;
    
     
    
}


header h1{
 float: left;
 margin-left: 30px;
 margin-top: 35px;
 font-size: 8em;
}

body .main{
    font-weight: 400;
    font-family: "OpenSansRegular", Arial, Helvetica, sans-serif !important;
    font-size: 20px;
    line-height: 30px;
    padding: 5%;
    padding-left: 10%;
    
}

h2{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
  
}


h1{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

nav{
    background-color: rgb(169, 169, 169,0.4);
    width: 30%;
    padding: 10px;
    
}
article{
    padding: 6px;
}
article p{
    padding: 6px;
}
.paragraphe{
    width:60%;
}

#S3{
    width: 50%;
    background-color:rgb(210, 105, 30,0.3);
    padding: 10px;
    margin-top: 25px;
}

.blue{
    color: blue;
}
i{
    position: relative;
    
}
a{
    text-decoration: none !important;
    
}
a:visited{
    color: blue;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
a:hover{
    color: black;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: larger;
}
#buttonr{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #1e30d6; /* Green */
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
button a{
    color: white;
    padding:50px;
}
button a:visited{
    color:white;
}